/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
Colors used:
Text color: light black: #2f2e2e
Primary color: blue: #376aa2;
Secondary color: light teal: #2c797c
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.maincontents  {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-header  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__item  {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  width: 100px;
}

.page-header__item:last-child  {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list  {
  list-style-type: none;
}

.navigation-list li  {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active  {
  text-decoration: none;
  color: #376aa2;
  font-size: 25px;
}

.navigation-list__item  {
  text-decoration: none;
  color: #2c797c;
  -webkit-transition: font-size 1s ease;
  -o-transition: font-size 1s ease;
  transition: font-size 1s ease;
}

.navigation-list__item:hover  {
  text-decoration: none;
  font-size: 25px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__portrait  {
  max-width: 400px;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 40px;
  border-radius: 50%;
}

.profile--intro  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

svg#tennis-scene  {
  max-width: 500px;
  width: 100%;
}

body  {
  background-color: white;
  font-family: 'playfair display', serif;
  font-size: 20px;
  color: #2f2e2e;
  padding: 10px;
}

h1  {
  font-family: 'bebas neue', sans-serif;
  color: #376aa2;
  display: block;
  text-align: center;
  font-size: 45px;
}

h2  {
  font-family: 'bebas neue', sans-serif;
  color: #376aa2;
  font-size: 35px;
}

p  {
  line-height: 150%;
  text-align: center;
  margin: -5px 0 20px;
}

table  {
  background-color: #f1f1f1;
  padding: 10px;
  display: table;
  table-layout: fixed;
  max-width: 500px;
  width: 100%;
}

th  {
  font-family: 'bebas neue', sans-serif;
  color: #376aa2;
  font-size: 30px;
  text-align: left;
}

.profile--webfont	 {
  color: lime;
  font-family: 'vt323', sans-serif;
  font-size: 25px;
  background-color: black;
  padding: 0 3px;
}

a	 {
  -webkit-transition: 1s color ease;
  -o-transition: 1s color ease;
  transition: 1s color ease;
  color: #2c797c;
  font-family: 'bebas neue', sans-serif;
}

a:hover  {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: #376aa2;
}

a:focus  {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: #376aa2;
}

.github-icon path  {
  -webkit-transition: 0.9s fill;
  -o-transition: 0.9s fill;
  transition: 0.9s fill;
}

.github-icon:hover path  {
  fill: #6879d9;
}

.twitter-icon path  {
  -webkit-transition: 0.9s fill;
  -o-transition: 0.9s fill;
  transition: 0.9s fill;
}

.twitter-icon:hover path  {
  fill: #1da1f2;
}

.linkedin-icon path  {
  -webkit-transition: 0.9s fill;
  -o-transition: 0.9s fill;
  transition: 0.9s fill;
}

.linkedin-icon:hover path  {
  fill: #0e76a8;
}

button	{
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* styling */
  font-family: 'bebas neue', sans-serif;
  color: white;
  background-color: #376aa2;
  text-decoration: none;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: 0 0 25px -5px #2c797c;
          box-shadow: 0 0 25px -5px #2c797c;
  -webkit-transition: 0.9s opacity;
  -o-transition: 0.9s opacity;
  transition: 0.9s opacity;
}

.form__button	{
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* styling */
  font-family: 'bebas neue', sans-serif;
  color: white;
  background-color: #376aa2;
  text-decoration: none;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: 0 0 25px -5px #2c797c;
          box-shadow: 0 0 25px -5px #2c797c;
  -webkit-transition: 0.9s opacity;
  -o-transition: 0.9s opacity;
  transition: 0.9s opacity;
}

#about__button	{
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* styling */
  font-family: 'bebas neue', sans-serif;
  color: white;
  background-color: #376aa2;
  text-decoration: none;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: 0 0 25px -5px #2c797c;
          box-shadow: 0 0 25px -5px #2c797c;
  -webkit-transition: 0.9s opacity;
  -o-transition: 0.9s opacity;
  transition: 0.9s opacity;
}

button:hover,
button:focus,
.form__button:hover,
.form__button:focus,
#about__button:hover,
#about__button:focus {
  opacity: 0.8;
  cursor: pointer;
}

.page-footer	{
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.page-footer p	{
  margin: 20px 0 0;
}

#footer_vector-source  {
  font-size: 15px;
}

.work--header	 {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.grid__item  {
  background-color: #f1f1f1;
  padding: 10px;
}

.grid	 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.grid__item:last-child	{
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 0;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.flex-contact  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-header  {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.contact-info  {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 20px 0;
}

.contact-form  {
  max-width: 400px;
  width: 100%;
}

#contact-form  {
  background: #f1f1f1;
  padding: 25px;
  margin: 0 0 20px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

label  {
  display: block;
}

#contact-form input[type="email"],
#contact-form input[type="text"],
#contact-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 5px;
}

#contact-form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.form__button {
  display: block;
  margin: 10px auto;
}

.grid p {
  text-align: left;
}

/* Responsive Design Elements -- small screens */
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  h2  {
    font-size: 25px;
  }

  table  {
    max-width: 500px;
    width: 100%;
  }

  th  {
    font-size: 20px;
  }

  td  {
    font-size: 15px;
  }
}

/* Responsive Design Elements -- between 500px and 750px screens */
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

/* Responsive Design Elements -- between 0px and 750px screens = shared code */
@media all and (max-width: 750px)   {
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .profile__portrait  {
    margin: 0 auto;
  }

  .grid {
    gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    margin: 20px 0 0;
    font-size: 35px;
  }

  p  {
    margin: 10px 0;
    font-size: 18px;
  }

  svg#tennis-scene  {
    max-width: 400px;
    width: 100%;
  }
}

/* Animations */

@-webkit-keyframes color-change {
  0% {
    fill: #c6ff00;
  }

  50% {
    fill: #edf09f;
  }

  100% {
    fill: #f38508;
  }
}

@keyframes color-change {
  0% {
    fill: #c6ff00;
  }

  50% {
    fill: #edf09f;
  }

  100% {
    fill: #f38508;
  }
}

.background__shiftingneon {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes tennis-ball-flying {
  from {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }

  to {
    -webkit-transform: translate(-230px, 130px);
            transform: translate(-230px, 130px);
  }
}

@keyframes tennis-ball-flying {
  from {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }

  to {
    -webkit-transform: translate(-230px, 130px);
            transform: translate(-230px, 130px);
  }
}

@-webkit-keyframes line-drive {
  from {
    -webkit-transform: translate(-230px, 130px);
            transform: translate(-230px, 130px);
  }

  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes line-drive {
  from {
    -webkit-transform: translate(-230px, 130px);
            transform: translate(-230px, 130px);
  }

  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

/* two ways to do the spin but both need transform-origin and box */
@-webkit-keyframes rotate-tennis-ball {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }

  to  {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes rotate-tennis-ball {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }

  to  {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

.tennis-ball {
  -webkit-animation: tennis-ball-flying 5s infinite normal linear;
          animation: tennis-ball-flying 5s infinite normal linear;
}

#Tennis {
  -webkit-animation: spin 0.5s linear infinite;
          animation: spin 0.5s linear infinite;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}
