/*
Colors used:
Text color: light black: #2f2e2e
Primary color: blue: #376aa2;
Secondary color: light teal: #2c797c
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:root {
  --primary-color: #376aa2;
  --secondary-color: #2c797c;
  --light-black: #2f2e2e;
  --grid-background: #f1f1f1;
  --font-size-navigation: 25px;
}

.maincontents {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  background-color: #fafafa;
}

.page-header {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.page-header {
  grid-area: header;
  margin-top: 20px;
}

.main {
  grid-area: main;
}

.page-footer {
  grid-area: footer;
}

/* navigation */

.page-header {
  display: flex;
  width: 100%;
  /* margin-bottom: 20px; */
}

.navbar {
  flex: 0 1 100px;
  width: 100px;
}

.navbar:last-child {
  flex-grow: 1;
  text-align: right;
}

.nav-menu li {
  display: inline-block;
  margin-left: 15px;
}

.page-header--logo {
  width: 100px;
}

/*----- nav menu box created when hovering -----*/
.nav-menu a {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #2c797c;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.nav-menu span {
  display: block;
  padding: 8px 10px 5px 10px;
}

.nav-menu a::before,
.nav-menu a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.4s linear;
  background: #2f2e2e;
}

.nav-menu span::before,
.nav-menu span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.4s linear;
  background: #2f2e2e;
}

.nav-menu a:hover {
  color: #2f2e2e;
}

.nav-menu a:hover::before,
.nav-menu a:hover::after {
  width: 100%;
}

.nav-menu a:hover span::before,
.nav-menu a:hover span::after {
  height: 100%;
}

.navigation-list__item::after,
.navigation-list__item span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.navigation-list__item::before,
.navigation-list__item span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

#navigation-list__item--active {
  border: 2px solid #2f2e2e;
  color: #2f2e2e;
  border-radius: 2px;
  pointer-events: none;
}

/* hamburger nav bar  */

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* home page index */

.profile {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__portrait {
  max-width: 400px;
  width: 100%;
  margin-right: 40px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  flex-shrink: 0;
  animation: shifting-borders 70s ease-in-out infinite both alternate;
}

.profile--intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile--headerfont {
  letter-spacing: 2px;
}

.about-me-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em;
}

.about-me p {
  text-align: left;
}

.about-me {
  flex: 1 60%;
}

.tennis-container {
  display: flex;
  justify-content: center;
  flex: 1 auto;
}

svg#tennis-scene {
  max-width: 400px;
  width: 100%;
}

body {
  background-color: #fafafa;
  font-family: "playfair display", serif;
  font-size: 20px;
  color: #2f2e2e;
}

h1 {
  font-family: "bebas neue", sans-serif;
  color: #376aa2;
  text-align: center;
  font-size: 45px;
  vertical-align: top;
  margin-top: 0;
}

h2 {
  font-family: "bebas neue", sans-serif;
  color: var(--primary-color);
  font-size: 35px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

p {
  line-height: 150%;
  text-align: center;
  margin: -5px 0 20px;
}

/* API Documentation Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* end table  */

.profile--webfont {
  color: lime;
  font-family: "vt323", sans-serif;
  font-size: 25px;
  background-color: black;
  padding: 0 3px;
}

a {
  transition: 1s color ease;
  color: var(--secondary-color);
  font-family: "bebas neue", sans-serif;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: var(--primary-color);
}

.github-icon path {
  transition: 0.9s fill;
}

.github-icon:hover path {
  fill: #6879d9;
}

.twitter-icon path {
  transition: 0.9s fill;
}

.twitter-icon:hover path {
  fill: #1da1f2;
}

.linkedin-icon path {
  transition: 0.9s fill;
}

.linkedin-icon:hover path {
  fill: #0e76a8;
}

button,
#my-button,
.form__button,
#about__button,
#resume__button,
#home__button {
  display: inline-block;
  /* styling */
  font-family: "bebas neue", sans-serif;
  color: white;
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 3px;
  padding: 10px;
  margin: 1em;
  box-shadow: transparent;
  transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
}

button:hover,
button:focus,
#my-button:hover,
#my-button:focus,
.form__button:hover,
.form__button:focus,
#about__button:hover,
#about__button:focus,
#resume__button:hover,
#resume__button:focus,
#home__button:focus,
#home__button:hover {
  background-color: white;
  color: #2f2e2e;
  box-shadow: 0 0 25px -5px #2f2e2e;
  border-radius: 3px;
  cursor: pointer;
}

#about__button {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* contact page */

.contact-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-social-media svg {
  margin: 10px;
}

.contact-name {
  font-size: 30px;
}

.contact-container {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
  flex: 0 1 auto;
}

.page-footer p {
  margin: 20px 0 0;
}

#footer_vector-source {
  font-size: 15px;
}

.work--header {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

/* work page */
.grid__item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid a {
  padding: 0 4px;
}

.grid #my-button {
  padding: 10px;
  margin: 5px;
}
.technologies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: auto;
}

.technologies-container img {
  max-height: 70px;
  height: 100%;
  padding: 0;
  margin-top: 10px;
}

#json-el {
  max-width: 90px;
  width: 100%;
}

.flex-contact {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.contact-header {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.contact-info {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 20px 0;
}

.contact-form {
  max-width: 400px;
  width: 100%;
}

#contact-form {
  background: var(--grid-background);
  padding: 25px;
  margin: 0 0 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

label {
  display: block;
}

#contact-form input[type="email"],
#contact-form input[type="text"],
#contact-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 5px;
}

#contact-form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.form__button {
  display: block;
  margin: 10px auto;
}

.grid p {
  text-align: left;
}

.grid img {
  padding-bottom: 10px;
  max-width: 100%;
  height: auto;
}

/* case study */
.case-study-container {
  display: flex;
  flex-wrap: wrap;
}

.case-study-container p {
  text-align: left;
}

.intro-left {
  margin: 1rem;
  flex: 1 30%;
}

.intro-pic-right-container {
  margin-right: 5%;
}

.intro-pic-right {
  max-width: 100%;
}

.middle-section {
  display: flex;
  flex-wrap: wrap;
}

.middle-section li {
  list-style: disc;
  list-style-position: inside;
}

.roles-section {
  margin: 1rem;
  flex: 1 70%;
}

.tech-section {
  margin: 1rem;
  flex: 3;
}

.approach-container {
  display: flex;
  flex-wrap: wrap;
}

.approach-section {
  margin: 1rem;
  flex: 1 30%;
}

.comparison-pic-container {
  margin-right: 5%;
  margin-top: 10px;
}

.comparison-pic {
  width: 700px;
  max-width: 100%;
}

.storing-data-section {
  margin: 1em;
}

.user-permission-container {
  margin: 1em;
}

.permission-pic-section {
  float: right;
  margin-right: 15%;
  margin-top: -100px;
  margin-left: 5%;
}

.permission-pic {
  width: 300px;
  max-width: 100%;
}

.final-interface-pic {
  float: left;
  width: 300px;
  max-width: 100%;
  margin-right: 2em;
  margin-bottom: 1em;
}

.weChat-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weChat-button-container > a {
  text-decoration: none;
}

/* arrow button */
.fas {
  font-size: 1rem;
  margin-right: 2px;
}

.link-arrow .fas::after {
  content: "";
  background: transparent;
}

.link-arrow:hover .fas {
  transform: translate(-7px);
  transition: 0.2s ease-in;
}

.link-arrow:hover .fas::after {
  background: #376aa2;
  content: "";
  display: block;
  height: 2px;
  left: 3px;
  top: 6.9px;
  position: absolute;
  width: 11px;
  transition: all 1s linear;
  z-index: -1000;
}
/* Animations */

/* changes border edge around profile picture */
@keyframes shifting-borders {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  14% {
    border-radius: 50% 40% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 70% 39% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 81% 20% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 60% 30% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

@keyframes color-change {
  0% {
    fill: deepskyblue;
  }

  50% {
    fill: darkviolet;
  }

  100% {
    fill: blue;
  }
}

.background__shiftingneon {
  animation: 8s color-change infinite alternate linear;
}

@keyframes tennis-ball-flying {
  from {
    transform: translate(0, -30px);
  }

  to {
    transform: translate(-230px, 130px);
  }
}

@keyframes line-drive {
  from {
    transform: translate(-230px, 130px);
  }

  to {
    transform: translate(0, 0);
  }
}

/* two ways to do the spin but both need transform-origin and box */
@keyframes rotate-tennis-ball {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.tennis-ball {
  animation: tennis-ball-flying 5s infinite normal linear;
}

#Tennis {
  animation: spin 0.5s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

/* Grid large screens greater than 800px */

.grid > div {
  background-color: #f1f1f1;
  padding: 10px;
}

.grid {
  display: grid;
  margin: 10px 0;
  grid-gap: 10px;
  grid-template-areas:
    "a   b   c"
    "d   e   f";
}

.grid__item-a {
  grid-area: a;
}

.grid__item-b {
  grid-area: b;
}

.grid__item-d {
  grid-area: d;
}

.grid__item-e {
  grid-area: e;
}

.grid__item-c {
  grid-area: c;
}

.grid__item-f {
  grid-area: f;
}

/* Responsive Design Elements -- phone screens */
@media all and (max-width: 500px) {
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
  }

  .flex-contact {
    margin: 0;
  }

  h2 {
    font-size: 25px;
  }

  table {
    max-width: 500px;
    width: 100%;
  }

  th {
    font-size: 20px;
  }

  td {
    font-size: 15px;
  }
}

/* Responsive Design Elements -- between 500px and 800px screens */
@media all and (min-width: 500px) and (max-width: 800px) {
  .grid {
    display: grid;
    margin: 10px 0;
    grid-gap: 10px;
    grid-template-areas:
      "a   b"
      "c   d"
      "e   f";
  }

  .grid__item-a {
    grid-area: a;
  }

  .grid__item-b {
    grid-area: b;
  }

  .grid__item-c {
    grid-area: c;
  }

  .grid__item-d {
    grid-area: d;
  }

  .grid__item-e {
    grid-area: e;
  }
}

/* Responsive Design Elements -- between 0px and 768px screens = shared code */
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__portrait {
    margin: 0 auto;
  }

  .grid {
    gap: 10px;
  }

  h1 {
    font-size: 35px;
    margin-top: 0.5em;
  }

  p {
    font-size: 18px;
  }

  /* Table Responsiveness */

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 40%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 35%;
    padding-right: 10px;
    white-space: nowrap;
  }

  pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Description";
  }
  td:nth-of-type(2):before {
    content: "URL Endpoint";
  }
  td:nth-of-type(3):before {
    content: "HTTP Method";
  }
  td:nth-of-type(4):before {
    content: "Request Format";
  }
  td:nth-of-type(5):before {
    content: "Response Format";
  }

  /* Hamburger responsiveness */
  .nav-menu {
    display: flex;
    position: fixed;
    right: -100%;
    top: 3rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    transition: 0.4s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }

  .nav-menu.active {
    right: -50%;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: inline-block;
    right: 20px;
    position: fixed;
    z-index: 2;
  }

  /* hamburger animations */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .intro-pic-right-container,
  .comparison-pic-container {
    margin: 0 auto;
  }

  .permission-pic-section {
    margin-top: 0;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .weChat-button-container {
    margin-left: 30px;
  }
}

/* phone screens only */
@media only screen and (max-width: 450px) {
  .profile__portrait {
    max-width: 300px;
  }

  .permission-pic-section {
    margin-top: 0;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .user-permission-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .final-interface-pic {
    margin: 0 auto;
    margin-bottom: 1em;
  }
}

/* teeny teeny screens just for minimization purposes */
@media only screen and (max-width: 326px) {
  p {
    font-size: 15px;
  }

  h1 {
    margin-top: 1em;
  }

  #home__button {
    text-align: center;
  }
}
